<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "theme/chrome/meta.html" . }}  
    {{ template "theme/chrome/includes.html" . }}
    <link rel="shortcut icon" href="/images/alexfinn.ico"> 
    <link rel="apple-touch-icon" href="">
    <link rel="canonical" href="{{ .Permalink }}">
    <!-- atom & rss feed -->
    <link href="/rss.xml" type="application/atom+xml" rel="alternate" title="{{ .Site.Title }}">    
  </head>

  <body>    
    

{{ $baseurl := .Site.BaseURL }}
{{ template "theme/chrome/menu.html" }}

<div class="container">
  <div class="content">

  <div class="row-fluid">
    <div class="span12">

      <div class="posts">
        {{ range .Data.Pages }}        
            <article class="post">
            
              <header class="post-header">
                <h1><a href="{{.RelPermalink }}">{{ .Title }}</a></h1>
                <div class="post-time">{{ .Date.Format "January 2 2006" }}, {{ .FuzzyWordCount }} Words</div>
              </header>

              <div class="post-after">
                  <div class="tags">
                    {{ range .Params.tags }}
                        <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>              
                    {{ end }}
                  </div>
              </div>
            </article>
        {{ end }}
      </div>
           
    </div>  
  </div>

{{ template "theme/chrome/footer.html" }}
