// Custom styles.

.main-qrcode { position: fixed; left: 100px; bottom: 100px; width: 150px; height: 195px; background: url(https://haitao.nos.netease.com/442ea3d6-ad76-4cb8-b57e-237a64cd7bb0.png); background-size:cover; }